APP_NAME=LandingHipotecaria
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://${{RAILWAY_PUBLIC_DOMAIN}}

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_URL=${{Postgres.DATABASE_URL}}

SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=database
QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_FROM_ADDRESS="demo@example.com"
MAIL_FROM_NAME="${APP_NAME}"

LEADS_BRAND_NAME=Clarahipoteca
LEADS_NOTIFY_EMAILS=

RAILPACK_PHP_EXTENSIONS=pgsql
RAILPACK_SKIP_MIGRATIONS=true
